unpackaged/main/default/flows/Account_Account_Rel_on_Create_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Recip_Relationship_Update</name>
        <label>Recip Relationship Update</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>asign_RecipRelationship.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asign_RecipRelationship.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asign_RecipRelationship.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asign_RecipRelationship.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recip_Relationship.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asign_RecipRelationship.HierarchyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HierarchyType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recip_Relationship</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>inverseexists</name>
        <label>inverseexists</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Delete_record</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>This relationship already exists in the inverse</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Duplicate_Relationship_Found</name>
        <label>Duplicate Relationship Found</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Recip_Relationship_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DupEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recip_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>1007</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Created_via_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Party_Rel_ID_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Party_Rel_ID_Edit</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Inverse_Record_Found_Edit</name>
        <label>Related Inverse Record Found</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PartyEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Party_Rel_ID_Edit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recip_Rel_ID_Edit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Inverse_Record_Found_New</name>
        <label>Related Inverse Record Found</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PartyNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Party_Rel_ID_New.RelatedInverseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recip_Rel_ID_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Exists</name>
        <label>Relationship Exists</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Account_account_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_any_Existing_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inverseexists</targetReference>
            </connector>
            <label>Has Existing Relationship</label>
        </rules>
    </decisions>
    <description>v2 - Added automation killswitch</description>
    <environments>Default</environments>
    <interviewLabel>Contact-Contact Rel on Create/Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-Account Rel on Create/Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account_account_New</name>
        <label>Account account rel</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Triggering_Record_New</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HierarchyType</field>
            <value>
                <elementReference>$Record.HierarchyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>Get_Recip_Rel_ID_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedAccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountAccountRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_record</name>
        <label>Delete record</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Searches to find if this relationship exists in the inverse in org</description>
        <name>Get_any_Existing_Relationship</name>
        <label>Get any Existing Relationship</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relationship_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 3 AND 4) OR (5 AND 6 AND 2) OR (5 AND 6 AND 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyRoleRelationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedInverseRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recip_Rel_ID_New.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountAccountRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Party_Rel_ID_Edit</name>
        <label>Get Main Party Rel ID</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Inverse_Record_Found_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyRoleRelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Party_Rel_ID_New</name>
        <label>Get Main Party Rel ID New</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Inverse_Record_Found_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyRoleRelation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recip_Rel_ID_Edit</name>
        <label>Get Recip Rel ID</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recip_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Party_Rel_ID_Edit.RelatedInverseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recip_Rel_ID_New</name>
        <label>Get Recip Rel ID</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_any_Existing_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Party_Rel_ID_New.RelatedInverseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recip_Relationship</name>
        <label>Get Recip Relationship</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Relationship_Found</targetReference>
        </connector>
        <filterLogic>(1 or 2) AND (3 or 4) AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountAccountRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Recip_Relationship</name>
        <label>Update Recip Relationship</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <inputReference>asign_RecipRelationship</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record_New</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedInverseRecordId</field>
            <value>
                <elementReference>Account_account_New</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.ACClabs_Automation_Control__c.Disable_All_Automations__c}= false
&amp;&amp;
{!$Record.Deleted_via_Flow__c} = FALSE</filterFormula>
        <object>AccountAccountRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>asign_RecipRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountAccountRelation</objectType>
    </variables>
    <variables>
        <name>asign_RecipRelationshipcontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
</Flow>
