unpackaged/main/default/flows/Contact_Name_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Need this completed for both greeting types and options for both Households</description>
        <name>Store_Greetings_on_Household</name>
        <label>Store Greetings on Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Household.PersonTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_FormalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Household.PersonAssistantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_InformalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HH_Account_Greetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Need this completed for both greeting types and options for both Households</description>
        <name>Store_Greetings_on_PRG</name>
        <label>Store Greetings on PRG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Party_Relationship_Group.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_FormalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Relationship_Group.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_InformalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PRG_Greetings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Need to update the variable field to the greeting</description>
        <name>Store_Greetings_on_Secondary</name>
        <label>Store Greetings on Secondary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Secondary_Household_Member.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_FormalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Secondary_Household_Member.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_InformalHHGreeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Secondary_Contact_Greeting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Household</name>
        <label>Has Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Household_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household</targetReference>
            </connector>
            <label>Found Household Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Primary_Secondary_HH_Member</name>
        <label>Has Primary/Secondary HH Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Store_Greetings_on_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Secondary_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Add_l_Primary_Secondary_Household_Relationship.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Household_Member</targetReference>
            </connector>
            <label>Primary/Secondary Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRG_Found</name>
        <label>PRG Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Contact_Greeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_PRG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Party_Relationship_Group.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Greetings_on_PRG</targetReference>
            </connector>
            <label>Found PRG</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_FormalHHGreeting</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot; &amp; &quot; + {!Get_Secondary_Household_Member.Name}</expression>
    </formulas>
    <formulas>
        <name>fx_InformalHHGreeting</name>
        <dataType>String</dataType>
        <expression>&quot;Test&quot;</expression>
    </formulas>
    <interviewLabel>Contact Name Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Name Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Need to add field to identify secondary household members</description>
        <name>Get_Add_l_Primary_Secondary_Household_Relationship</name>
        <label>Get Add&#39;l Primary/Secondary Household Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Primary_Secondary_HH_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household_Relationship.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Party_Relationship_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household_Relationship.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Need a filter for A-C records that are Household based.
Only getting 1st record, but if there are several households......solution needed</description>
        <name>Get_Household_Relationship</name>
        <label>Get Household Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Relationship_Group</name>
        <label>Get Party Relationship Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Add_l_Primary_Secondary_Household_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRelationshipGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Household_Member</name>
        <label>Get Secondary Household Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Greetings_on_Secondary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Add_l_Primary_Secondary_Household_Relationship.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_HH_Account_Greetings</name>
        <label>Update HH Account Greetings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PRG_Found</targetReference>
        </connector>
        <inputReference>Get_Household</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PRG_Greetings</name>
        <label>Update PRG Greetings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Contact_Greeting</targetReference>
        </connector>
        <inputReference>Get_Party_Relationship_Group</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Secondary_Contact_Greeting</name>
        <label>Update Secondary Contact Greeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Greetings_on_Household</targetReference>
        </connector>
        <inputReference>Get_Secondary_Household_Member</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Needs field created and added here for greeting</description>
        <name>Update_Triggering_Contact_Greeting</name>
        <label>Update Triggering Contact Greeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account_name_for_External_reports__c</field>
            <value>
                <elementReference>fx_FormalHHGreeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skype_Account__c</field>
            <value>
                <elementReference>fx_InformalHHGreeting</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Household_Relationship</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.FirstName}) &amp;&amp; ISCHANGED({!$Record.LastName})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
