unpackaged/main/default/flows/Create_Household.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CCRelNo</name>
        <choiceText>&lt;strong&gt;No&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCRelNo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CCRelYes</name>
        <choiceText>&lt;strong&gt;Yes&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC_Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>HH_No</name>
        <choiceText>&lt;strong&gt;No&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>HH_Yes</name>
        <choiceText>&lt;strong&gt;Yes&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Additional_Household_Members</name>
        <label>Additional Household Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Household_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Household_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_secondaryl_member_of_this_household</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HH_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Household_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_additional_Household_Member</name>
        <label>Create additional Household Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Party_Relationship_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateHHMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMembersToHH.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addtional_Contact_Relationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Selected</name>
        <label>Role Selected - NEEDS VALUES UPDATED TO MATCH ROLES ON A-C RELATIONSHIP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Household_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HHMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MemberRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Household_Member</targetReference>
            </connector>
            <label>Primary Member</label>
        </rules>
        <rules>
            <name>Secondary_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HHMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HHMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MemberRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Household_Member</targetReference>
            </connector>
            <label>Secondary Member</label>
        </rules>
    </decisions>
    <description>Creates Household and Party Relationship Group from Person Account page layout.</description>
    <dynamicChoiceSets>
        <name>ch_PersonAccounts</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HHRole</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fx_HHNaming</name>
        <dataType>String</dataType>
        <expression>IF(
    /* 1. CHECK IF SECOND MEMBER NAME IS MISSING */
   ISBLANK({!AddMembersToHH.firstSelectedRow.LastName}),
    
    /* Result if Second Member is Missing: &quot;Firstname Lastname Household&quot; */
    TRIM({!Get_Record.FirstName}) &amp; &quot; &quot; &amp; TRIM({!Get_Record.LastName}) &amp; &quot; Household&quot;,
    
    /* Result if Second Member is Present - Proceed to nested IF */
    IF(
        /* 2. CHECK IF LAST NAMES MATCH */
        TRIM({!Get_Record.LastName}) = TRIM({!AddMembersToHH.firstSelectedRow.LastName}),
        
        /* Result if Last Names Match: &quot;Firstname and Firstname Lastname Household&quot; */
        TRIM({!Get_Record.FirstName}) &amp; &quot; and &quot; &amp; TRIM({!AddMembersToHH.firstSelectedRow.FirstName}) &amp; &quot; &quot; &amp; TRIM({!Get_Record.LastName}) &amp; &quot; Household&quot;,
        
        /* 3. Result if Last Names Do NOT Match (Default Case) */
        /* Result: &quot;Firstname Lastname and Firstname Lastname Household&quot; */
        TRIM({!Get_Record.LastName}) &amp; &quot; &quot; &amp; TRIM({!Get_Record.LastName}) &amp; &quot; and &quot; &amp; TRIM({!AddMembersToHH.firstSelectedRow.FirstName}) &amp; &quot; &quot; &amp; TRIM({!AddMembersToHH.firstSelectedRow.LastName}) &amp; &quot; Household&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>fx_HouseholdMember</name>
        <dataType>String</dataType>
        <expression>IF({!AddMembersToHH.firstSelectedRow.Name} &lt;&gt; &quot;&quot;, {!AddMembersToHH.firstSelectedRow.Name} &amp; &quot; will be a &quot; &amp; {!HHMemberRole}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create Household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Household</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addtional_Contact_Relationship</name>
        <label>Create Addtional Contact Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Party_Relationship_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AddMembersToHH.firstSelectedRow.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>HHMemberRole</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Relationship</name>
        <label>Create Contact Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_additional_Household_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>MemberRole</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contact_Relationship</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Record.Name} Household</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Party_Relationship_Group</name>
        <label>Create Party Relationship Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Record.Name} Household PRG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </inputAssignments>
        <object>PartyRelationshipGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Accounts</name>
        <label>Get Person Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WelcomeScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Household_Member</name>
        <label>Add Household Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Role_Selected</targetReference>
        </connector>
        <fields>
            <name>AddMembersToHH</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Person_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Account&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Person_Accounts&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c0ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Person&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Account&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Person_Accounts&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Matching_Role</name>
            <fieldText>&lt;p&gt;There is already a Household Member with this status, please select a different member role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HHMemberRole</name>
            <choiceReferences>HHRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Member Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Household is created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Household_Information</name>
        <label>Household Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
        <fields>
            <name>Household_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fx_HHNaming</elementReference>
            </defaultValue>
            <fieldText>Household Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Household</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Household will include&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Record.Name} will be a {!MemberRole}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!fx_HouseholdMember}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WelcomeScreen</name>
        <label>WelcomeScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Household_Members</targetReference>
        </connector>
        <fields>
            <name>HouseHoldCreation</name>
            <fieldText>&lt;p&gt;This will create a Household account and Party Relationship Group for {!Get_Record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MemberRole</name>
            <choiceReferences>HHRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MemberRole</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_there_a_secondaryl_member_of_this_household</name>
            <choiceReferences>HH_Yes</choiceReferences>
            <choiceReferences>HH_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>HH_No</defaultSelectedChoiceReference>
            <fieldText>Is there a secondary member of this household?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
