unpackaged/main/default/flows/Funding_Award_Requirement_On_Create_Edit_Primary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Requirement_is_Marked_as_Submitted</name>
        <label>Decision - Requirement is Marked as Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requirement_is_Marked_as_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Requirement is Marked as Submitted</label>
        </rules>
    </decisions>
    <description>v1 - Created with trigger to update fields if status is changed to Submitted</description>
    <environments>Default</environments>
    <interviewLabel>Funding Award Requirement - On Create/Edit - Primary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Award Requirement - On Create/Edit - Primary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Requirement_is_Marked_as_Submitted</targetReference>
        </connector>
        <filterFormula>{!$Setup.ACClabs_Automation_Control__c.Disable_All_Automations__c}= false</filterFormula>
        <object>FundingAwardRequirement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Submitted_Fields</name>
        <label>Update Submitted Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Funding_Award_Requirement_Subflow_Update_Submitted_Fields</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
