unpackaged/main/default/flows/Individual_Application_Screen_Flow_Clone_Individual_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Contact_Roles</name>
        <label>Assign New Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_GrantContactRole.Individual_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GrantContactRole.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assign_New_Contact_Roles.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GrantContactRole.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assign_New_Contact_Roles.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GrantContactRole.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assign_New_Contact_Roles.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_GrantContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_GrantContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_New_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>v1 - Clones Individual Application record and related Contact Roles
v2 - Added conclusion screen</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_ApplicationName</name>
        <dataType>String</dataType>
        <expression>&quot;[CLONED] &quot; + {!Get_Individual_Application.ApplicationName}</expression>
    </formulas>
    <interviewLabel>Individual Application - Screen Flow - Clone Individual Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Application - Screen Flow - Clone Individual Application</label>
    <loops>
        <name>Loop_Assign_New_Contact_Roles</name>
        <label>Loop - Assign New Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Grant_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Contact_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Grant_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Grant_Contact_Roles</name>
        <label>Create Grant Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Conclusion</targetReference>
        </connector>
        <inputReference>col_GrantContactRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual_Application</name>
        <label>Create Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Assign_New_Contact_Roles</targetReference>
        </connector>
        <inputAssignments>
            <field>AJWS_Grantees_Supported_By_Grant__c</field>
            <value>
                <elementReference>Get_Individual_Application.AJWS_Grantees_Supported_By_Grant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Individual_Application.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Security_Info__c</field>
            <value>
                <elementReference>Get_Individual_Application.Additional_Security_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_COVID_response__c</field>
            <value>
                <elementReference>Get_Individual_Application.Address_COVID_response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_of_Fiscal_Agent__c</field>
            <value>
                <elementReference>Get_Individual_Application.Address_of_Fiscal_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Age_Focus__c</field>
            <value>
                <elementReference>Get_Individual_Application.Age_Focus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationName</field>
            <value>
                <elementReference>fx_ApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationType</field>
            <value>
                <elementReference>Get_Individual_Application.ApplicationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetId</field>
            <value>
                <elementReference>Get_Individual_Application.BudgetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Activities__c</field>
            <value>
                <elementReference>Get_Individual_Application.Capacity_Activities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Need__c</field>
            <value>
                <elementReference>Get_Individual_Application.Capacity_Need__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Sustainability__c</field>
            <value>
                <elementReference>Get_Individual_Application.Capacity_Sustainability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_to_be_Developed__c</field>
            <value>
                <elementReference>Get_Individual_Application.Capacity_to_be_Developed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Expenditure__c</field>
            <value>
                <elementReference>Get_Individual_Application.Capital_Expenditure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>Get_Individual_Application.Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_How_to_Address__c</field>
            <value>
                <elementReference>Get_Individual_Application.Challenges_How_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Description__c</field>
            <value>
                <elementReference>Get_Individual_Application.Community_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Audited_Financials_Expln__c</field>
            <value>
                <elementReference>Get_Individual_Application.Compliance_Audited_Financials_Expln__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Audited_Financials_Flag__c</field>
            <value>
                <elementReference>Get_Individual_Application.Compliance_Audited_Financials_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Notes__c</field>
            <value>
                <elementReference>Get_Individual_Application.Compliance_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Registration_Flag__c</field>
            <value>
                <elementReference>Get_Individual_Application.Compliance_Registration_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connect_or_Build_on_Previous_Work__c</field>
            <value>
                <elementReference>Get_Individual_Application.Connect_or_Build_on_Previous_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Individual_Application.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAF_ID__c</field>
            <value>
                <elementReference>Get_Individual_Application.DAF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAF_Program_Officer__c</field>
            <value>
                <elementReference>Get_Individual_Application.DAF_Program_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNP_Notes__c</field>
            <value>
                <elementReference>Get_Individual_Application.DNP_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declination_Note__c</field>
            <value>
                <elementReference>Get_Individual_Application.Declination_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declination_Reason__c</field>
            <value>
                <elementReference>Get_Individual_Application.Declination_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Long__c</field>
            <value>
                <elementReference>Get_Individual_Application.Description_Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket__c</field>
            <value>
                <elementReference>Get_Individual_Application.Docket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_your_org_have_a_fiscal_agent__c</field>
            <value>
                <elementReference>Get_Individual_Application.Does_your_org_have_a_fiscal_agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expenditure_Responsibility_Notes__c</field>
            <value>
                <elementReference>Get_Individual_Application.Expenditure_Responsibility_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Agent_City__c</field>
            <value>
                <elementReference>Get_Individual_Application.Fiscal_Agent_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Agent_Country__c</field>
            <value>
                <elementReference>Get_Individual_Application.Fiscal_Agent_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Sponsor__c</field>
            <value>
                <elementReference>Get_Individual_Application.Fiscal_Sponsor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingOpportunityId</field>
            <value>
                <elementReference>Get_Individual_Application.FundingOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Exception__c</field>
            <value>
                <elementReference>Get_Individual_Application.Funding_Exception__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL__c</field>
            <value>
                <elementReference>Get_Individual_Application.GL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender_Focus__c</field>
            <value>
                <elementReference>Get_Individual_Application.Gender_Focus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographical_Area_Served_Secondary__c</field>
            <value>
                <elementReference>Get_Individual_Application.Geographical_Area_Served_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographical_Area_Served__c</field>
            <value>
                <elementReference>Get_Individual_Application.Geographical_Area_Served__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Alert_Text__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Alert_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Amount__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Beneficiary__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Content_Primary__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Content_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Content_Secondary__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Content_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Context__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Context__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Methodology__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grant_Methodology__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grantee_Org_Main_Email__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grantee_Org_Main_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grants_Manager__c</field>
            <value>
                <elementReference>Get_Individual_Application.Grants_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalStatus</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Multiyear_Proposal__c</field>
            <value>
                <elementReference>Get_Individual_Application.Is_Multiyear_Proposal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Area__c</field>
            <value>
                <elementReference>Get_Individual_Application.Issue_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lobbying__c</field>
            <value>
                <elementReference>Get_Individual_Application.Lobbying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiyear_Proposal_End_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application.Multiyear_Proposal_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiyear_Proposal_Start_Date__c</field>
            <value>
                <elementReference>Get_Individual_Application.Multiyear_Proposal_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Contribution__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Contribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Evaluation__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Evaluation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Experience_in_Community__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Experience_in_Community__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Experience_with_Relief_Work__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Experience_with_Relief_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Goals__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Goals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Individual_Name_on_Bank_Account__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Individual_Name_on_Bank_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Monitoring__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Monitoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Population_and_Problem__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Population_and_Problem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Problems_strategies__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Problems_strategies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Recent_success__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_Recent_success__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_obstacles__c</field>
            <value>
                <elementReference>Get_Individual_Application.Org_obstacles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Staff_User__c</field>
            <value>
                <elementReference>Get_Individual_Application.Primary_Staff_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Individual_Application.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Activities_Grant_Agreement__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Activities_Grant_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Activities__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Activities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Need__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Need__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Results__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Title_Grantee_Language__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Title_Grantee_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Title__c</field>
            <value>
                <elementReference>Get_Individual_Application.Project_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rationale__c</field>
            <value>
                <elementReference>Get_Individual_Application.Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Individual_Application.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regranting__c</field>
            <value>
                <elementReference>Get_Individual_Application.Regranting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regranting_in_the_US__c</field>
            <value>
                <elementReference>Get_Individual_Application.Regranting_in_the_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
            <value>
                <elementReference>Get_Individual_Application.Rejection_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Type__c</field>
            <value>
                <elementReference>Get_Individual_Application.Rejection_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedAmount</field>
            <value>
                <elementReference>Get_Individual_Application.RequestedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Staff__c</field>
            <value>
                <elementReference>Get_Individual_Application.Secondary_Staff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setting__c</field>
            <value>
                <elementReference>Get_Individual_Application.Setting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory_at_Fiscal_Agent_Organization__c</field>
            <value>
                <elementReference>Get_Individual_Application.Signatory_at_Fiscal_Agent_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory_s_Title_at_Fiscal_Agent_Org__c</field>
            <value>
                <elementReference>Get_Individual_Application.Signatory_s_Title_at_Fiscal_Agent_Org__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Multiyear_Proposal_Amount__c</field>
            <value>
                <elementReference>Get_Individual_Application.Total_Multiyear_Proposal_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Activities_Amount__c</field>
            <value>
                <elementReference>Get_Individual_Application.US_Activities_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X990_Code__c</field>
            <value>
                <elementReference>Get_Individual_Application.X990_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Grant_Contact_Roles</name>
        <label>Get Grant Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Individual_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Grant_Contact_Roles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Application</name>
        <label>Get Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grant_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Conclusion</name>
        <label>Screen - Conclusion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Conclusion</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The application for {!Get_Individual_Application.Account.Name} was cloned successfully. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Individual_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_GrantContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grant_Contact_Roles__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GrantContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grant_Contact_Roles__c</objectType>
    </variables>
</Flow>
