unpackaged/main/default/flows/Nightly_DPE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Donor_Gift_Summary_DPE</name>
        <label>Run Donor Gift Summary DPE</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>NPC_DonorGiftSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Rund_Gift_Designation_DPE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateCurrentYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateLastYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateTwoYearsAgo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPC_DonorGiftSummary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Outreach_Summary_DPE</name>
        <label>Run Outreach Summary DPE</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>NPC_OutreachSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>NPC_OutreachSummary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rund_Gift_Designation_DPE</name>
        <label>Rund Gift Designation DPE</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>NPC_GiftDesignation</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Run_Outreach_Summary_DPE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateCurrentYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateLastYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>FirstDateTwoYearsAgo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPC_GiftDesignation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>FirstDateCurrentYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <formulas>
        <name>FirstDateLastYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1,1,1)</expression>
    </formulas>
    <formulas>
        <name>FirstDateTwoYearsAgo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-2,1,1)</expression>
    </formulas>
    <interviewLabel>Nightly DPE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nightly DPE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Donor_Gift_Summary_DPE</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-21</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
